.big-services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 95%;
}

.big-card {
    width: 17vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns child elements to the start (left side) */
    justify-content: space-between;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    position: relative;
    padding: 20px;
    background-size: 20vw;
    background-repeat: no-repeat;
    background-position: center ;
    object-fit: contain;
}


.service-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    position: absolute;
}

.text--1 {
    position: absolute; /* Allows precise positioning within the card */
    bottom: 10px; /* Moves the title closer to the bottom of the container */
    left: 10px; /* Aligns the title to the left-hand side */
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    font-family: Arial, sans-serif;
    letter-spacing: 0.5px;
    text-align: left; /* Ensures left-aligned text */
}

.count--1 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}


.notify--icon {
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    vertical-align: middle;
}
