nav {
    position: fixed; /* Ensures the navbar stays fixed on the screen */
    top: 0; /* Positions the navbar at the top of the viewport */
    left: 0;
    right: 0;
    z-index: 100; /* Keeps the navbar above other elements */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%; /* Makes the navbar span the full width of the screen */
    padding: 10px 5%;
    background-color: white; /* Adds a background color */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adds a slight shadow for better visibility */
}

.logo-container{
    text-decoration: none;
    color: #1a1c46;
}
.logo span {
    background-color: #1A1C46;
    color: white;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
}

.search-bar {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: white;
}

.search-bar:focus-within {
    border: 2px solid #9DA0FF;
}

.search-bar input {
    border: none;
    width: 25vw;
    padding: 5px;
    outline: none;
}

.nav-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.nav-sidebar p {
    color: gray;
}

.nav-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
}

.nav-icons i {
    font-size: 1.2rem;
}

.nav-sidebar img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
